<launch>

  <!-- Orca driver -->
  <node name="orca_driver" pkg="orca_driver" type="orca_driver" output="log">
    <param name="voltage_multiplier" value="5.05" />
    <param name="thruster_4_reverse" value="true" />
    <param name="tilt_channel" value="6" />
  </node>

  <!-- Bar30 -->
  <node name="bar30" pkg="orca_driver" type="bar30_node.py" output="log" />

  <!-- Processor status -->
  <node name="proc" pkg="orca_driver" type="proc_node.py" output="log" />

  <!-- Phidgets IMU -->
  <node pkg="phidgets_imu" type="phidgets_imu_node" name="imu_driver">
    <param name="frame_id" value="imu_link" />
    <param name="period" value="8" /> <!-- supported data rates: 4 8 16 24 32 40 ... 1000 (in ms) -->
    <!-- don't provide compass correction params; these are stored in the Phidgets firmware -->
  </node>

</launch>
