<!-- Phidgets IMU launch file -->

<launch>

  <!-- Use Complementary or Madgwick filter -->
  <arg name="use_complementary_filter" default="true" />

  <!-- Phidgets imu driver -->
  <node pkg="phidgets_imu" type="phidgets_imu_node" name="imu_driver">
    <param name="frame_id" value="imu_link" />
    <param name="period" value="8" /> <!-- supported data rates: 4 8 16 24 32 40 ... 1000 (in ms) -->
    <!-- don't provide compass correction params; these are stored in the Phidgets firmware -->
  </node>

  <node pkg="imu_complementary_filter" type="complementary_filter_node" name="imu_filter" if="$(arg use_complementary_filter)">
    <param name="use_mag" value="true" /> <!-- Use magnetic field data -->
    <param name="publish_tf" value="false" /> <!-- Do not publish a transform, orca_base will do that -->
  </node>

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter" unless="$(arg use_complementary_filter)">
    <param name="use_mag" value="true" /> <!-- Use magnetic field data -->
    <param name="use_magnetic_field_msg" value="true" /> <!-- Use the new msg type -->
    <param name="publish_tf" value="false" /> <!-- Do not publish a transform, orca_base will do that -->
    <param name="world_frame" value="nwu" /> <!-- Complementary filter uses NWU, so force Madgwick to as well -->
  </node>

</launch>
