<launch>

  <!-- Pololu Maestro -->
  <node name="orca_driver" pkg="orca_driver" type="orca_driver" output="log">
    <param name="voltage_multiplier" value="5.73" />
    <param name="thruster_1_channel" value="0" />
    <param name="thruster_2_channel" value="1" />
    <param name="thruster_3_channel" value="2" />
    <param name="thruster_4_channel" value="3" />
    <param name="thruster_5_channel" value="4" />
    <param name="thruster_6_channel" value="5" />
    <param name="tilt_channel" value="6" />
  </node>

  <!-- Bar30 -->
  <node name="bar30" pkg="orca_driver" type="bar30_node.py" output="log" />

  <!-- Processor status -->
  <node name="proc" pkg="orca_driver" type="proc_node.py" output="log" />

  <!-- Phidgets IMU -->
  <include file="$(find orca_driver)/launch/imu.launch" />

  <!-- Orca base -->
  <include file="$(find orca_base)/launch/base.launch" />

</launch>
