[Unit]
Description=Orca streaming video

[Service]
User=pi
ExecStart=/home/pi/orca_catkin_ws/src/orca/orca_driver/scripts/start_orca_video.sh

[Install]
WantedBy=multi-user.target
