<launch>

  <!-- Launch Gazebo with our world file -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find orca_gazebo)/worlds/orca.world"/>
  </include>

  <!-- Launch Orca nodes -->
  <include file="$(find orca_base)/launch/base.launch"/>
    
  <!-- Run the gazebo model spawner; it will turn URDF into SDF and inject the model into the running world -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -z 1 -model orca" output="screen"/>

</launch>